<div mat-dialog-content class="profile-pic">
  <div class="title">Change Profile Picture</div>
  <form [formGroup]="changePicForm" (ngSubmit)="onSubmit()">
    <div class="upload-wrapper">
      <label for="profile-img" class="img-upload" *ngIf="!profile_pic">
        <span><i class="fa-solid fa-arrow-up-from-bracket"></i>Upload Image</span>
      </label>
      <mat-error *ngIf="!profile_pic && submitted"> MOA is required. </mat-error>
      <mat-error *ngIf="changePicForm.get('profile_pic')?.errors?.['invalidExtension']">
        Invalid file type. Allowed extensions: png, jpg, jpeg
      </mat-error>
      <mat-error *ngIf="changePicForm.get('profile_pic')?.errors?.['max']"> File size too large. Maximum file size: 5048 KB </mat-error>
      <input type="file" id="profile-img" formControlName="profile_pic" (change)="onImgFileSelected($event, 'profile_pic')" style="display: none" />
      <div class="img-container" *ngIf="profile_pic">
        <img src="" id="preview-img" alt="" />
        <div class="file-info" *ngIf="profile_pic">
          <div #imgFileName></div>
        </div>
        <div class="btn-remove" *ngIf="profile_pic" (click)="removeImg()">
          <i class="fa-solid fa-circle-xmark"></i>
        </div>
      </div>
    </div>
  </form>
</div>
<mat-dialog-actions>
  <div class="footer">
    <button (click)="closeDialog()">Cancel</button>
    <button class="submit" type="submit" (click)="onSubmit()">Submit</button>
  </div>
</mat-dialog-actions>
