<div class="container">
  <div class="content">
    <div class="line"></div>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <h1>Frogot Password</h1>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div *ngIf="emailForm.controls['email'].errors?.['required']" class="text-danger">Email is required.</div>
        <div *ngIf="emailForm.controls['email'].errors?.['email']" class="text-danger">Invalid email address.</div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
