<div *ngIf="!programs || loadDialog" class="loading-wave">
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
</div>

<div class="filter-container">
  <div class="filter">
    <div class="search">
      <label for="search-toggle">
        <i class="bx bx-search"></i>
      </label>
      <input id="search-toggle" type="checkbox" />
      <input type="text" [(ngModel)]="searchText" placeholder="Search..." (mouseleave)="collapseSearch()" />
    </div>
    <div class="start-date d-flex flex-column justify-content-center mt-4">
      <input type="date" id="start-date" [(ngModel)]="minStartDate" />
      <small class="w-100 ps-4 text-secondary">start date</small>
    </div>
    <div class="end-date d-flex flex-column justify-content-center mt-4">
      <input type="date" id="end-date" [(ngModel)]="maxEndDate" />
      <small class="w-100 ps-3 text-secondary">end date</small>
    </div>
  </div>

  <div class="sort">
    <div class="sort-status">
      <div class="sort-label">Status :</div>
      <div class="status">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="statusDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {{ selectedStatus || 'All' }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="statusDropdown">
            <li>
              <a class="dropdown-item" (click)="selectedStatus = ''">All</a>
            </li>
            <li *ngFor="let status of statuses">
              <a class="dropdown-item" (click)="selectedStatus = status">{{ status }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="add-new" *ngIf="isAdmin()">
      <button (click)="addProgram()">Add New</button>
    </div>
  </div>
</div>

<div class="program-list" *ngIf="programs && userStatus">
  <div class="program-card" matRipple *ngFor="let program of filteredPrograms()" (click)="viewProgram(program.program_id)">
    <div>
      <div *ngIf="!isAdmin()" class="btn-attendance" matRippleDisabled>
        <button (click)="onAttendanceClick($event, program.program_id)"><i class="fa-solid fa-user-check"></i>&nbsp;Attendance</button>
      </div>
      <div class="title">{{ program.title }}</div>
      <div
        class="subtitle"
        [ngStyle]="{
          color: program.status === 'Ongoing' ? '#00c519' : program.status === 'Upcoming' ? '#0e8ce6' : '#ff5a2f'
        }"
      >
        <i
          class="bx bx-loader-circle"
          [ngStyle]="{
            color: program.status === 'Ongoing' ? '#00c519' : program.status === 'Upcoming' ? '#0e8ce6' : '#ff5a2f'
          }"
        ></i
        >&nbsp;&nbsp;
        {{ program.status }}
      </div>
      <div class="date">
        <i class="bx bx-calendar-week"></i>&nbsp;&nbsp;{{ program.start_date | date : 'longDate' }} -
        {{ program.end_date | date : 'longDate' }}
      </div>
    </div>
    <div>
      <p>{{ program.details }}</p>
      <div class="other-details">
        <div class="leader">
          <div class="leader-icon"><i class="fa-solid fa-user-gear"></i></div>
          <div class="leader-label">Leader</div>
          <div class="name">
            {{ program.leader.fullName }}
          </div>
        </div>
        <div class="participants">
          <div>
            <i class="fa-regular fa-handshake"></i>
          </div>
          <div>Participants</div>
          <div>
            {{ program.participant_count }}
          </div>
        </div>
        <div class="place">
          <div>
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div>Place</div>
          <div>
            {{ program?.place }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="program-list" *ngIf="programs && !userStatus">
  <div class="sorry-cont">
    <img src="{{ assetPath }}assets/images/sorry.png" alt="" />
  </div>
  <div class="text-center">
    <h1><strong>Account status is not yet approve</strong></h1>
    <h3>Contact your admin for this problem</h3>
  </div>
</div>
