<div class="sidebar">
  <div class="logo_details">
    <i class="bx bxl-audible icon"></i>
    <div class="logo_name">Code Effect</div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav-list">


    <li>
      <a routerLink="/admin/dashboard">
        <i class="bx bx-grid-alt"></i>
        <span class="link_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-user"></i>
        <span class="link_name">Program Management</span>
      </a>
      <span class="tooltip">Program Management</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-chat"></i>
        <span class="link_name">Partner Management</span>
      </a>
      <span class="tooltip">Partner Management</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="link_name">Accounts Management</span>
      </a>
      <span class="tooltip">Accounts Management</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-folder"></i>
        <span class="link_name">Reports</span>
      </a>
      <span class="tooltip">Reports</span>
    </li>
    <!-- <li>
      <a href="#">
        <i class="bx bx-cart-alt"></i>
        <span class="link_name">Order</span>
      </a>
      <span class="tooltip">Order</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-cog"></i>
        <span class="link_name">Settings</span>
      </a>
      <span class="tooltip">Settings</span>
    </li> -->
    <li class="profile">
      <div class="profile_details">
        <img src="profile.jpeg" alt="profile image">
        <div class="profile_content">
          <div class="name">Anna Jhon</div>
          <div class="designation">Admin</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out"></i>
    </li>
  </ul>
</div>
