<mat-dialog-content>
  <div class="view-partner">
    <label for="" class="title">
      {{ data.partner.company_name }}
    </label>
    <label for="" class="subtitle">
      {{ data.partner.address }}
    </label>
    <hr />
    <div class="partner-details">
      <div class="detail-wrapper">
        <div class="icon"><i class="fa-regular fa-user"></i></div>
        <div class="detail">
          <label for="">Contact Person</label>
          <div class="data">{{ data.partner.contact_person }}</div>
        </div>
      </div>
      <div class="detail-wrapper">
        <div class="icon"><i class="fa-solid fa-mobile-screen"></i></div>
        <div class="detail">
          <label for="">Contact Number</label>
          <div class="data">{{ data.partner.contact_no }}</div>
        </div>
      </div>
    </div>
    <hr />
    <div class="partner-details" *ngFor="let contract of data.partner.contracts">
      <div class="detail-wrapper">
        <div class="icon"><i class="fa-regular fa-calendar"></i></div>
        <div class="detail">
          <label for="">Start Date</label>
          <div class="data">{{ formatDate(contract.start_date) }}</div>
        </div>
      </div>
      <div class="detail-wrapper">
        <div class="icon"><i class="fa-regular fa-calendar"></i></div>
        <div class="detail">
          <label for="">End Date</label>
          <div class="data">{{ formatDate(contract.end_date) }}</div>
        </div>
      </div>
    </div>
    <hr />
    <div class="extend">
      <label for="">Extend Contract</label>
      <div class="date">
        <div class="start-date"><input type="date" /></div>
        <div class="end-date"><input type="date" /></div>
        <div class="date-btn"><button>Extend</button></div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="footer">
    <div>
      <button><i class="fa-solid fa-box-archive"></i>&nbsp;&nbsp;&nbsp;Archive</button>
    </div>
    <div>
      <div>
        <button (click)="closeDialog()">Close</button>
      </div>
      <div>
        <button (click)="editProgram(data.partner.partner_id)">Edit</button>
      </div>
    </div>
  </div>
</mat-dialog-actions>
