*:not(.fa-solid):not(.fa-regular) {
  font-family: 'Assistant', sans-serif;
  /* color: #51354b; */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.filter-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.filter-cont .search {
  position: relative;
  width: 30%;
  margin-right: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-cont .search.show-btns {
  margin-right: 40%;
}

.search input {
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 100%;
  height: 40px;
  text-indent: 40px;
  /* min-width: 200px;
  max-width: 300px; */
}

.search input::placeholder {
  color: #a8a5b6;
}

.search span {
  position: absolute;
  top: 20px;
  transform: translate(-50%, -50%);
  left: 29px;
  color: #a8a5b6;
  z-index: 9999;
}

.filter-cont .btn-respond {
  width: 20%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-cont .btn-respond button:nth-child(2) {
  margin-left: 5px;
}

.filter-cont .btn-add-acc {
  width: 10%;
  padding-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-cont .btn-add-acc button {
  width: 100%;
  background-color: #ff5a2f;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  outline: none;
  border: none;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}

.multiple-message {
  width: 100%;
}

.link-button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.account-management {
  /* position: relative; */
  margin: 0;
  padding: 2% 20px;

  height: 100%;
  overflow: hidden;
}

table {
  width: 100%;
}

.tablewrapper {
  display: flex;
  flex-direction: column;
  height: 75vh;
  /* overflow-y: auto; */
  overflow: auto;
}

.paginator-wrapper {
  margin-top: auto;
}

.reject-btn {
  background: #fcd9e2;
  padding: 3px 5px;
  font-size: 12px;
  color: #f47393;
  border-radius: 3px;
  font-weight: 500;
  border: none;
  height: 40px;
  width: 100%;
}

.approve-btn {
  background: #d9f0e2;
  padding: 3px 5px;
  font-size: 12px;
  color: #74d49b;
  border-radius: 3px;
  font-weight: 500;
  border: none;
  height: 40px;
  width: 100%;
}

.approve {
  background: #d9f0e2;
  padding: 3px 5px;
  font-size: 10px;
  width: fit-content;
  color: #74d49b;
  border-radius: 3px;
  font-weight: 500;
}
.rejected {
  background: #fcd9e2;
  padding: 3px 5px;
  font-size: 10px;
  width: fit-content;
  color: #f47393;
  border-radius: 3px;
  font-weight: 500;
}
.pending {
  background: #f8edc9;
  padding: 3px 5px;
  font-size: 10px;
  width: fit-content;
  color: #e4b830;
  border-radius: 3px;
  font-weight: 500;
}

.mat-icon {
  color: #ff5a2f;
}

.mat-cell {
  padding: 16px 16px; /* Adjust padding as needed */
}

::ng-deep .cdk-column-fname {
  white-space: nowrap;
}

::ng-deep .cdk-column-select {
  /* display: flex;
  justify-content: center; */
  min-width: 80px;
}

::ng-deep .mat-cell {
  color: #51354b;
  font-size: 15px !important;
  padding: 10px;
  width: fit-content !;
}

::ng-deep .mat-header-cell {
  font-weight: 700 !important;
  color: #a8a5b6;
  font-size: 15px;
}

::ng-deep .mat-sort-header-content {
  font-weight: 700 !important;
  color: #a8a5b6;
  font-size: 15px;
}

.view-button {
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 12px;
  color: #ff5a2f;
  padding: 5px 20px;
  background-color: #ff592f3c;
}

/* Desktop screens */
@media only screen and (min-width: 1200px) {
  /* Styles for desktop screens go here */
}

/* Tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Styles for tablet screens go here */
  .filter-cont .search {
    width: 30%;
    margin-right: 50%;
  }

  .filter-cont .search.show-btns {
    margin-right: 20%;
  }

  .filter-cont .btn-add-acc {
    width: 20%;
  }

  .filter-cont .btn-respond {
    width: 30%;
  }
}

/* Phone screens */
@media only screen and (max-width: 767px) {
  ::ng-deep .mat-paginator-page-size {
    display: none !important;
  }

  .filter-cont :nth-child(4) {
    order: 4;
  }

  .filter-cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .filter-cont .search {
    flex: 0 0 50%;
    margin-right: 20%;
    order: 1;
    margin-bottom: 5px;
  }

  .filter-cont .search.show-btns {
    margin-right: 20%;
  }

  .filter-cont .btn-respond {
    flex: 0 0 100%;
    order: 3;
    justify-content: end;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .filter-cont .btn-respond button {
    width: 20%;
  }

  .filter-cont .btn-add-acc {
    flex: 0 0 30%;
    order: 2;
    margin-bottom: 5px;
  }
}
