table {
  width: 100%;
  box-shadow: none;
}
.filter-cont button {
  float: right;
  margin-left: 5px;
}
.mat-header-cell,
.mat-cell {
  padding: 8px;
}

.mat-row.mat-row-selected {
  background-color: #e0e0e0;
}

.mat-checkbox-inner-container {
  background-color: #f1f1f1;
}

.mat-checkbox {
  margin: 0 8px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-cell {
  font-size: 15px;
}

::ng-deep .mat-header-cell {
  font-weight: 700 !important;
  color: #a8a5b6;
  font-size: 15px;
}

::ng-deep .mat-sort-header-content {
  font-weight: 700 !important;
  color: #a8a5b6;
  font-size: 15px;
}

::ng-deep .mat-cell {
  color: #51354b;
}

/* td, th {
  width: 25%;
} */

td {
  width: 91px;
  height: 15px;
  font-family: Assistant;
  font-size: 12px;
  color: #51354b;
  text-decoration: none solid rgb(81, 53, 75);
}

th {
  /* border: 1px solid black; */
  height: 45px;
  font-weight: bold;
}
tr.mat-row,
tr.mat-footer-row {
  height: 48px;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

/* td, th {
  width: 25%;
} */

.link-button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

/* .mat-column-select {
  max-width: 25px;
} */

.mat-sort-header-container {
  display: flex;
  justify-content: center;
}
.approve {
  background: #d9f0e2;
  padding: 3px 5px;
  font-size: 10px;
  width: fit-content;
  color: #74d49b;
  border-radius: 3px;
  font-weight: 500;
}
.rejected {
  background: #fcd9e2;
  padding: 3px 5px;
  font-size: 10px;
  width: fit-content;
  color: #f47393;
  border-radius: 3px;
  font-weight: 500;
}
.pending {
  background: #f8edc9;
  padding: 3px 5px;
  font-size: 10px;
  width: fit-content;
  color: #e4b830;
  border-radius: 3px;
  font-weight: 500;
}
