/* Global styles */
body {
  font-family: 'Poppins', sans-serif;
}

.container{
  margin: 20px auto;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
}
.logo{
  display: flex;
}
.logo img{
  width: 50px;
  height: 50px;
}
.logo h1{
  margin: auto 12px;
  color: #54394e;
  font-weight: bold;
  font-size: 24px;
}
.logo h1 span{
  color: #ff5a2f;
}

nav{
  margin: auto 0px;
  width: 15%;
}
nav ul {
  list-style-type: none;
  margin:0px;
  padding: 0;
  display: flex;
  width: 100%;
}
nav li {
  flex: 1;
  padding: 0%;
  text-align: center;
}
nav ul li a{
  color: #5c5c5c;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 20px;
  border-radius: 20px;
  border: 2px solid #ff5a2f;
}

nav ul li a:hover {
  background-color: #ff5a2f;
  color: white;
  transition: 0.5s;
}

/* Main section */
main {
  padding: 20px;
}

/* Login form */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  color: #5c5c5c;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #a0a0a0;
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a0a0a0;
  margin-bottom: 20px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #ffad7c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #f7c78c;
}

/* Footer */
footer {
  background-color: #91c7b1;
  padding: 20px;
  text-align: center;
  color: #fff;
}


/* Desktop screens */
@media only screen and (min-width: 1200px) {
  /* Styles for desktop screens go here */
}

/* Tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Styles for tablet screens go here */
}

/* Phone screens */
@media only screen and (max-width: 767px) {
  ::ng-deep .mat-paginator-page-size {
    display: none !important;
  }
  header {
    display: block;
  }
  nav{
    margin-top: 30px;
  }
  .logo h1{
    margin: auto 12px;
    color: #54394e;
    font-weight: bold;
    font-size: 24px;
  }
  a{
    margin: 5px;
  }
}
