.footer {
  margin: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer div:nth-child(1),
.footer div:nth-child(2) {
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.footer .no {
  background-color: #f25454;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 10px;
  color: white;
  width: 80%;
}

.footer .yes {
  background-color: #ff5a2f;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 10px;
  color: #ffffff;
  width: 80%;
}

.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2{
  margin-bottom: 0px;
}
p, h2{
  text-align: center;
}

i{
  font-size: 58px;
  color: #f25454;
  margin: 2px auto;
}
