*:not(.fa-solid):not(.fa-regular) {
  font-family: 'Assistant', sans-serif;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-top: 10px;
}

.footer button:first-child {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 10px;
  color: #51354b;
  width: 30%;
  max-width: 200px;
}

.footer button:nth-child(2) {
  background-color: #ff5a2f;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 10px;
  color: #ffffff;
  width: 30%;
  max-width: 200px;
}

.title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 30px;
}

.form-group label {
  margin-bottom: 5px;
}

input {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  color: #5c5c5c;
  font-size: 16px;
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
}

.password-input-wrapper {
  position: relative;
}

.password-toggle-button {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  background-color: none;
  border: none;
  font-size: 18px;
}
