<div mat-dialog-content class="view-partner">
  <div class="title">Change Password</div>
  <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="old_password">Old Password</label>
      <!-- <input type="password" class="form-control" id="old_password" formControlName="old_password" /> -->
      <div class="password-input-wrapper">
        <input type="{{ hidePassword2 ? 'password' : 'text' }}" class="" formControlName="old_password" required />
        <button type="button" *ngIf="changePassForm.get('old_password')?.value" class="password-toggle-button" (click)="togglePasswordVisibility2()">
          <i class="fa-solid" [ngClass]="hidePassword2 ? 'fa-eye' : 'fa-eye-slash'"></i>
        </button>
      </div>
      <div *ngIf="submited && changePassForm.controls['old_password'].errors">
        <mat-error *ngIf="changePassForm.controls['old_password'].errors['required']">Password is required</mat-error>
        <mat-error *ngIf="changePassForm.controls['old_password'].errors['minlength']">Password must be at least 6 characters long</mat-error>
      </div>
      <mat-error *ngIf="oldPassErrors && submited">{{ oldPassErrors }}</mat-error>
    </div>

    <div class="form-group mb-3">
      <label for="password">Password</label>
      <!-- <input type="password" class="form-control" id="password" formControlName="new_password" required minlength="6" /> -->
      <div class="password-input-wrapper">
        <input type="{{ hidePassword ? 'password' : 'text' }}" class="" name="new_password" formControlName="new_password" required />
        <button type="button" *ngIf="changePassForm.get('new_password')?.value" class="password-toggle-button" (click)="togglePasswordVisibility()">
          <i class="fa-solid" [ngClass]="hidePassword ? 'fa-eye' : 'fa-eye-slash'"></i>
        </button>
      </div>
      <div *ngIf="submited && changePassForm.controls['new_password'].errors">
        <mat-error *ngIf="changePassForm.controls['new_password'].errors['required']">Password is required</mat-error>
        <mat-error *ngIf="changePassForm.controls['new_password'].errors['minlength']">Password must be at least 6 characters long</mat-error>
      </div>
      <mat-error *ngIf="newPassErrors && submited">{{ newPassErrors }}</mat-error>
    </div>

    <div class="form-group mb-3">
      <label for="password_confirmation">Confirm Password</label>
      <!-- <input type="password" class="form-control" id="password_confirmation" formControlName="password_confirmation" required /> -->
      <div class="password-input-wrapper">
        <input
          type="{{ hidePassword3 ? 'password' : 'text' }}"
          id="password_confirmation"
          name="password"
          formControlName="password_confirmation"
          required
        />
        <button
          type="button"
          *ngIf="changePassForm.get('password_confirmation')?.value"
          class="password-toggle-button"
          (click)="togglePasswordVisibility3()"
        >
          <i class="fa-solid" [ngClass]="hidePassword3 ? 'fa-eye' : 'fa-eye-slash'"></i>
        </button>
      </div>
      <div
        *ngIf="(submited || changePassForm.get('password_confirmation')?.touched) && changePassForm.hasError('passwordMismatch')"
        class="text-danger"
      >
        <mat-error *ngIf="changePassForm.get('password_confirmation')?.hasError('required')">Please confirm your password</mat-error>
        <mat-error *ngIf="changePassForm.get('password_confirmation')?.hasError('passwordMismatch')">Passwords do not match</mat-error>
      </div>
    </div>
  </form>
</div>
<mat-dialog-actions>
  <div class="footer">
    <button (click)="closeDialog()">Cancel</button>
    <button class="submit" type="submit" (click)="onSubmit()">Submit</button>
  </div>
</mat-dialog-actions>
