<div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search..." />
  <button class="btn btn-outline-secondary" type="button">Search</button>
</div>

<mat-form-field>
  <mat-label>Start Date Range</mat-label>
  <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="minStartDate" />
  <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #startDatePicker></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>End Date Range</mat-label>
  <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="maxEndDate" />
  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #endDatePicker></mat-datepicker>
</mat-form-field>

<div class="filter-sort">
  <mat-form-field appearance="outline">
    <mat-label>Filter by status</mat-label>
    <mat-select [(ngModel)]="selectedStatus">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="program-list">
  <div class="program-card" *ngFor="let program of filteredPrograms()">
    <mat-card matRipple (click)="viewProgram(program.program_id)">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{ program.title }}</mat-card-title>
        <mat-card-subtitle>{{ program.start_date | date : 'longDate' }} - {{ program.end_date | date : 'longDate' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ program.details }}</p>
        <p>{{ program.status }}</p>
        <p>Place: {{ program?.place }}</p>
        <p>Number of participants: {{ program.participant_count }}</p>
        <div class="p-3" matRippleDisabled>
          <button (click)="onAttendanceClick($event, program.program_id)">Attendance</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
