<!-- attendance.component.html -->
  <table mat-table [dataSource]="data.attendance" class="mat-elevation-z8">
    <!-- Participant Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- Attendance Columns (One Column for each date) -->
    <ng-container *ngFor="let date of dates" [matColumnDef]="date">
      <th mat-header-cell *matHeaderCellDef>{{ date }}</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox class="mat-checkbox-center" [checked]="isAttendanceChecked(row, date)" (change)="toggleAttendance(row, date)"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Add Column Button Column -->
    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef>
        <ng-container *ngIf="showAddButton">
          <button mat-raised-button color="primary" (click)="showAddDateForm = true; showAddButton = false">Add Column</button>
        </ng-container>
        <div *ngIf="showAddDateForm">
          <form (ngSubmit)="addDate()">
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input matInput type="date" name="newDate" [(ngModel)]="newDate" />
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Add</button>
            <button mat-raised-button (click)="showAddDateForm = false; showAddButton = true">Cancel</button>
          </form>
        </div>
      </th>
      <td mat-cell *matCellDef="let row"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="attendanceIds"></tr>
    <tr mat-row *matRowDef="let row; columns: attendanceIds"></tr>
  </table>
<button mat-raised-button color="primary" (click)="onSave()">Save</button>


