<form [formGroup]="profileForm">
  <div class="admin-profile">
    <div class="picture" [ngClass]="{ shrink: toggleAccountInfo() }">
      <div class="container">
        <div class="status">{{ user ? user.status : '' }}</div>
        <div class="img">
          <img class="round" [src]="imageUrl" alt="My Image" />
          <div class="edit-img" matRipple (click)="editImg()">
            <i class="fa-regular fa-pen-to-square"></i>
          </div>
        </div>
      </div>
      <div class="info-container">
        <div class="fname">{{ user?.fname }} {{ user?.mname }} {{ user?.lname }} {{ user?.suffix }}</div>
        <div class="info-wrapper">
          <!-- email  -->
          <div class="info">
            <div class="info-icon">
              <div class="icon-cont">
                <i class="fa-solid fa-at"></i>
              </div>
            </div>
            <div class="info-detail">
              {{ user?.email }}
            </div>
          </div>
          <!-- mobile no  -->
          <div class="info">
            <div class="info-icon">
              <div class="icon-cont">
                <i class="fa-solid fa-mobile-screen"></i>
              </div>
            </div>
            <div class="info-detail">{{ user?.mobile_no }}</div>
          </div>
          <!-- address -->
          <div class="info">
            <div class="info-icon">
              <div class="icon-cont">
                <i class="fa-solid fa-location-dot"></i>
              </div>
            </div>
            <div class="info-detail">{{ user?.address }}</div>
          </div>
          <!-- bday -->
          <div class="info">
            <div class="info-icon">
              <div class="icon-cont">
                <img class="logo" src="{{ assetPath }}assets/images/age-icon.png" alt="My Image" />
              </div>
            </div>
            <div class="info-detail" *ngIf="user">{{ getAge(user.bday) }}</div>
          </div>
          <!-- gender -->
          <div class="info">
            <div class="info-icon">
              <div class="icon-cont" *ngIf="user?.gender === 'male'">
                <i class="fa-solid fa-mars"></i>
              </div>
              <div class="icon-cont" *ngIf="user?.gender === 'female'">
                <i class="fa-solid fa-venus"></i>
              </div>
            </div>
            <div class="info-detail" *ngIf="user">{{ user.gender }}</div>
          </div>
        </div>

        <div class="edit-label">Edit Mode</div>
        <div class="edit-toggle">
          <input type="checkbox" id="switch-toggle" class="switch" (change)="toggleAccountInfo()" />

          <label class="switch-label" for="switch-toggle">Toggle</label>
        </div>
      </div>
    </div>
    <div class="account-info" *ngIf="profileForm" [ngClass]="{ hidden: toggleAccountInfo() }">
      <div class="title">ACCOUNT INFORMATION</div>
      <hr />
      <div class="wrapper">
        <div class="form-field fname">
          <label for="">First Name</label>
          <input type="text" formControlName="fname" />
          <mat-error *ngIf="profileForm.get('fname')?.invalid && (profileForm.get('fname')?.touched || submitted)">
            first name is required.
          </mat-error>
        </div>
        <div class="form-field mname">
          <label for="">M.I.</label>
          <input type="text" formControlName="mname" />
        </div>
        <div class="form-field lname">
          <label for="">Last Name</label>
          <input type="text" formControlName="lname" />
          <mat-error *ngIf="profileForm.get('lname')?.invalid && (profileForm.get('lname')?.touched || submitted)">
            last name is required.
          </mat-error>
        </div>
        <div class="form-field suffix">
          <label for="">Suffix</label>
          <input type="text" formControlName="suffix" />
        </div>
      </div>
      <div class="wrapper">
        <div class="form-field barangay">
          <label for="">Barangay</label>
          <input type="text" formControlName="barangay" />
          <mat-error *ngIf="profileForm.get('barangay')?.invalid && (profileForm.get('barangay')?.touched || submitted)">
            barangay is required.
          </mat-error>
        </div>
        <div class="form-field city">
          <label for="">City/Municipality</label>
          <input type="text" formControlName="city" />
          <mat-error *ngIf="profileForm.get('city')?.invalid && (profileForm.get('city')?.touched || submitted)"> city is required. </mat-error>
        </div>
        <div class="form-field province">
          <label for="">Province</label>
          <input type="text" formControlName="province" />
          <mat-error *ngIf="profileForm.get('province')?.invalid && (profileForm.get('province')?.touched || submitted)">
            province is required.
          </mat-error>
        </div>
      </div>
      <div class="wrapper">
        <div class="form-field barangay">
          <label for="">Birthday</label>
          <input type="date" formControlName="bday" />
          <mat-error *ngIf="profileForm.get('bday')?.invalid && (profileForm.get('bday')?.touched || submitted)"> bday is required. </mat-error>
        </div>
        <div class="form-field city">
          <label for="">Gender</label>
          <select class="form-select" formControlName="gender" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <mat-error *ngIf="profileForm.get('gender')?.invalid && (profileForm.get('gender')?.touched || submitted)"> gender is required. </mat-error>
        </div>
        <div class="form-field province">
          <label for="">Mobile No.</label>
          <input type="text" formControlName="mobile_no" />
          <mat-error *ngIf="profileForm.get('mobile_no')?.invalid && (profileForm.get('mobile_no')?.touched || submitted)">
            mobile number is required.
          </mat-error>
        </div>
      </div>
      <div class="wrapper">
        <div class="form-field password">
          <button matRipple (click)="changeEmail()">Change Email</button>
        </div>
        <div class="form-field password">
          <button matRipple (click)="changePassword()">Change Password</button>
        </div>
      </div>
      <div class="save">
        <button type="submit" (click)="onSubmit()">Save Changes</button>
      </div>
    </div>
  </div>
</form>
