*:not(.fa-solid):not(.fa-regular) {
  font-family: 'Assistant', sans-serif;
  color: #51354b;
}

.admin-profile {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  padding: 20px;
}

.admin-profile .account-info {
  margin: 0% 1%;
  padding: 20px;
  background-color: #fafafa;
  width: 60%;
  height: calc(90vh - 60px);
  transition: all 0.5s ease;
  display: none;
}

.admin-profile .account-info.hidden {
  display: block;
}

.admin-profile .account-info.hidden {
  display: block;
  animation: slide-in 1s forwards;
}

.admin-profile .picture {
  position: relative;
  width: 60%;
  height: calc(90vh - 60px);
  background-color: #fff;
  border-radius: 0px 20px 20px 0px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: all 0.5s ease;
}

.admin-profile .picture.shrink {
  width: 33%;
}

.admin-profile .account-info.hidden + .picture.shrink {
  transform: translateX(-33%);
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* .admin-profile .account-info.hidden ~ .picture {
  width: 33%;
  margin: 0 auto;
} */

.title {
  font-size: 20px;
  font-weight: 900;
  color: #a8a5b6 !important;
}

.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}

.form-field {
  padding: 10px;
}

.form-field.fname {
  width: 35%;
}
.form-field.mname {
  width: 15%;
}
.form-field.lname {
  width: 35%;
}
.form-field.suffix {
  width: 15%;
}

.form-field.barangay {
  width: 33%;
}
.form-field.city {
  width: 33%;
}
.form-field.province {
  width: 33%;
}

.form-field label {
  width: 100%;
  padding-bottom: 5px;
}

.form-field input,
select {
  width: 100%;
  border: 2px solid #ff592f67;
  background-color: #f0f0f000;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  text-indent: 20px;
  padding-right: 20px;
  /* box-shadow: rgb(168, 181, 195) 3px 3px 6px 0px inset, rgba(221, 221, 221, 0.875) -3px -3px 6px 1px inset; */
}
.form-field input:focus {
  outline: #ff592f66;
}
.form-field label {
  font-size: 18px;
  font-weight: 700;
}

.form-field.password {
  width: 30%;
}

.form-field.email {
  width: 50%;
}

.form-field button {
  border: none;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-weight: 500;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.save {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.save button {
  background-color: #ff5a2f;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  min-width: 100px;
  color: #ffffff;
  outline: none;
  border: none;
  height: 50px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
}

.container {
  position: relative;
  height: 30%;
  width: 100%;
  border-radius: 0px 20px 20px 20px;
  background-color: #ff5a2f;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid #ff5a2f;
  border-radius: 50%;
  padding: 7px;
  width: 250px;
  background-color: white;
  aspect-ratio: 1 /1;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.round {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.status {
  position: absolute;
  top: 20px;
  left: 20px;
  width: auto;
  height: 30px;
  background-color: #fafafa;
  color: #ff5a2f !important;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.info-container {
  position: relative;
  margin-top: 120px;
  width: 100%;
  height: calc(70% - 120px);
}

.info-container .fname {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 30px;
  padding: 10px;
}

.info-container .email {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  color: #a8a5b6 !important;
  padding: 10px;
}

.info-container .mobile {
  position: absolute;
  bottom: 40px;
  left: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #a8a5b6 !important;
  padding: 10px;
}

.info-container .age-gender {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.age {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  color: #a8a5b6 !important;
  padding: 5px;
}

.gender {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  color: #a8a5b6 !important;
  padding: 5px;
}

.address {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #a8a5b6 !important;
  padding: 10px;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 70px;
  height: 40px;
  background: #a8a5b6;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch-label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .switch-label {
  background: #ff5a2f;
}

input:checked + .switch-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.switch-label:active:after {
  width: 130px;
}
.edit-toggle {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.edit-label {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 70px;
  right: 25px;
  color: #a8a5b6 !important;
}

/* .admin-profile:hover .picture {
  width: 33%;
  transition: all 0.5s ease;
}

.admin-profile:hover .account-info {
  transform: translateX(0%);
  transition: all 0.5s ease;
} */

/* .admin-profile .account-info ~ .picture {
  width: 33%;
} */

/* .admin-profile input[type='checkbox']:checked ~ .account-info {
  display: block;
} */
/* // centering */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* Desktop screens */
@media only screen and (min-width: 1200px) {
  /* Styles for desktop screens go here */
}

/* Tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Styles for tablet screens go here */
}

/* Phone screens */
@media only screen and (max-width: 767px) {
  /* Styles for phone screens go here */
  .admin-profile .picture {
    width: 100% !important;
    animation: none;
  }
  .admin-profile .picture.shrink {
    width: 100%;
  }
  .admin-profile .account-info {
    width: 100%;
    margin-top: 20px;
  }

  .admin-profile .account-info.hidden {
    animation: none;
  }

  .admin-profile {
    /* margin-top: 60px; */
    height: 90vh;
    overflow-y: auto;
  }

  .form-field {
    width: 100% !important;
  }

  .save {
    position: relative !important;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
  }
}
