<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="d-flex justify-content-evenly">
    <div class="mb-3">
      <label for="fname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="fname" />
    </div>
    <div class="mb-3">
      <label for="fname" class="form-label">Middle Name</label>
      <input type="text" class="form-control" id="mname" />
    </div>
    <div class="mb-3">
      <label for="fname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lname" />
    </div>
    <div class="mb-3">
      <label for="fname" class="form-label">Suffix</label>
      <input type="text" class="form-control" id="suffix" />
    </div>
  </div>

  <div class="d-flex justify-content-evenly">
    <div class="mb-3">
      <label for="fname" class="form-label">Barangay</label>
      <input type="text" class="form-control" id="fname" />
    </div>
    <div class="mb-3">
      <label for="fname" class="form-label">City/Municipality</label>
      <input type="text" class="form-control" id="mname" />
    </div>
    <div class="mb-3">
      <label for="fname" class="form-label">Province</label>
      <input type="text" class="form-control" id="lname" />
    </div>
  </div>

  <div class="d-flex justify-content-evenly">
    <div class="mb-3">
      <label for="fname" class="form-label">Gender</label>
      <input type="text" class="form-control" id="fname" />
    </div>
    <div class="mb-3">
      <label for="fname" class="form-label">Birthday</label>
      <input type="text" class="form-control" id="mname" />
    </div>
    <div class="mb-3">
      <label for="fname" class="form-label">Mobile No.</label>
      <input type="text" class="form-control" id="lname" />
    </div>
  </div>

  <div class="mb-3">
    <label for="fname" class="form-label">Email</label>
    <input type="text" class="form-control" id="fname" />
  </div>
  <div>
    <button>Change password</button>
  </div>
</form>
