<form [formGroup]="profileForm">
  <div class="admin-profile">
    <div class="picture" [ngClass]="{ shrink: toggleAccountInfo() }" [ngStyle]="{ width: toggleAccountInfo() ? '33%' : '60%' }">
      <div class="container">
        <div class="status">{{ user.status }}</div>
        <div class="img">
          <img class="round" [src]="imageUrl" alt="My Image" />
        </div>
      </div>
      <div class="info-container">
        <div class="fname">{{ user.fname }} {{ user.mname }} {{ user.lname }} {{ user.suffix }}</div>
        <div class="email">
          {{ user.email }}
        </div>
        <div class="gender">
          Gender:&nbsp;
          <ng-container *ngIf="user.gender === 'male'">
            <i class="fa-solid fa-mars" style="color: rgb(5, 205, 255)"></i>
          </ng-container>
          <ng-container *ngIf="user.gender === 'female'">
            <i class="fa-solid fa-venus" style="color: rgb(247, 142, 255); font-weight: bolder"></i>
          </ng-container>
        </div>
        <div class="age">Age: {{ getAge(user.bday) }}</div>
        <div class="mobile"><i class="fa-solid fa-mobile-screen-button"></i>&nbsp;&nbsp;&nbsp;{{ user.mobile_no }}</div>

        <div class="address"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;&nbsp;{{ user.address }}</div>
        <div class="edit-label">Edit Mode</div>
        <div class="edit-toggle">
          <input type="checkbox" id="switch-toggle" class="switch" (change)="toggleAccountInfo()" />

          <label class="switch-label" for="switch-toggle">Toggle</label>
        </div>
      </div>
    </div>
    <div class="account-info" [ngClass]="{ hidden: toggleAccountInfo() }">
      <div class="title">ACCOUNT INFORMATION</div>
      <hr />
      <div class="wrapper">
        <div class="form-field fname">
          <label for="">First Name</label>
          <input type="text" formControlName="fname" />
        </div>
        <div class="form-field mname">
          <label for="">M.I.</label>
          <input type="text" formControlName="mname" />
        </div>
        <div class="form-field lname">
          <label for="">Last Name</label>
          <input type="text" formControlName="lname" />
        </div>
        <div class="form-field suffix">
          <label for="">Suffix</label>
          <input type="text" formControlName="suffix" />
        </div>
      </div>
      <div class="wrapper">
        <div class="form-field barangay">
          <label for="">Barangay</label>
          <input type="text" formControlName="barangay" />
        </div>
        <div class="form-field city">
          <label for="">City/Municipality</label>
          <input type="text" formControlName="city" />
        </div>
        <div class="form-field province">
          <label for="">Province</label>
          <input type="text" formControlName="province" />
        </div>
      </div>
      <div class="wrapper">
        <div class="form-field barangay">
          <label for="">Birthday</label>
          <input type="date" formControlName="bday" />
        </div>
        <div class="form-field city">
          <label for="">Gender</label>
          <select class="form-select" formControlName="gender" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="form-field province">
          <label for="">Mobile No.</label>
          <input type="text" formControlName="mobile_no" />
        </div>
      </div>
      <div class="wrapper">
        <div class="form-field email">
          <label for="">Email</label>
          <input type="text" formControlName="email" />
        </div>
      </div>
      <div class="wrapper">
        <div class="form-field password">
          <button>Change Password</button>
        </div>
      </div>
      <div class="save">
        <button>Save Changes</button>
      </div>
    </div>
  </div>
</form>
