<mat-dialog-content>
  <div class="container">
    <h2>Add Account</h2>
    <hr />
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row mb-4">
        <div class="form-group col">
          <label for="fname">First Name</label>
          <input type="text" class="form-control" id="fname" formControlName="fname">
          <div *ngIf="submitted && registerForm.controls['fname'].errors?.['required']" class="text-danger">First name is required.</div>
        </div>
        <div class="form-group col">
          <label for="lname">Last Name</label>
          <input type="text" class="form-control" id="lname" formControlName="lname">
          <div *ngIf="submitted && registerForm.controls['lname'].errors?.['required']" class="text-danger">Last name is required.</div>
        </div>

        <div class="form-group col">
          <label for="mname">Middle Name</label>
          <input type="text" class="form-control" id="mname" formControlName="mname">
        </div>

        <div class="form-group col-2">
          <label for="suffix">Suffix</label>
          <input type="text" class="form-control" id="suffix" formControlName="suffix">
        </div>
      </div>

      <div class="row mb-4">
        <div class="form-group col">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" formControlName="gender">
            <option value="">Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <div *ngIf="submitted && registerForm.controls['gender'].errors?.['required']" class="text-danger">Gender is required.</div>
        </div>
        <div class="form-group col">
          <label for="bday">Birthday</label>
          <input type="date" class="form-control" id="bday" formControlName="bday">
          <div *ngIf="submitted && registerForm.controls['bday'].errors?.['required']" class="text-danger">Birthday is required.</div>
        </div>

        <div class="form-group col">
          <label for="mobile_no">Mobile Number</label>
          <input type="text" class="form-control" id="mobile_no" formControlName="mobile_no">
          <div *ngIf="submitted && registerForm.controls['mobile_no'].errors?.['required']" class="text-danger">Mobile Number is required.</div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <div *ngIf="submitted && registerForm.controls['email'].errors?.['required']" class="text-danger">Email is required.</div>
          <div *ngIf="submitted && registerForm.controls['email'].errors?.['email']" class="text-danger">Invalid email address.</div>
          <div *ngIf="errors.length > 0 && errors[0] === 'Email is already registered'" class="text-danger">Email is already registered.</div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="form-group col">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" formControlName="city">
          <div *ngIf="submitted && registerForm.controls['city'].errors?.['required']">City is required.</div>
        </div>

        <div class="form-group col">
          <label for="address">Province</label>
          <input type="text" class="form-control" id="province" formControlName="province">
          <div *ngIf="submitted && registerForm.controls['province'].errors?.['required']">Address is required.</div>
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" required minlength="6">
        <div *ngIf="submitted && registerForm.controls['password'].errors">
          <div *ngIf="registerForm.controls['password'].errors['required']">Password is required</div>
          <div *ngIf="registerForm.controls['password'].errors['minlength']">Password must be at least 6 characters long</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password_confirmation">Confirm Password</label>
        <input type="password" class="form-control" id="password_confirmation" formControlName="password_confirmation" required>

        <div *ngIf="(submitted || registerForm.get('password_confirmation')?.touched) && registerForm.hasError('passwordMismatch')" class="text-danger">
          <div *ngIf="registerForm.get('password_confirmation')?.hasError('required')">Please confirm your password</div>
          <div *ngIf="registerForm.get('password_confirmation')?.hasError('passwordMismatch')">Passwords do not match</div>
        </div>
      </div> -->

      <div class="row justify-content-end  my-3 footer">
        <button type="submit" class="btn btn-primary col-2">Register</button>
        <button class="btn btn-primary col-2 mx-2" mat-raised-button (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</mat-dialog-content>




