*:not(.fa-solid):not(.fa-regular):not(.mat-error) {
  font-family: 'Assistant', sans-serif;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-top: 10px;
}

.footer button:first-child {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 10px;
  color: #51354b;
  width: 30%;
  max-width: 200px;
}

.footer button:nth-child(2) {
  background-color: #ff5a2f;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 10px;
  color: #ffffff;
  width: 30%;
  max-width: 200px;
}

.title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 30px;
}

.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}

.form-field {
  padding: 10px;
}

.form-field.fname {
  width: 35%;
}
.form-field.mname {
  width: 15%;
}
.form-field.lname {
  width: 35%;
}
.form-field.suffix {
  width: 15%;
}

.form-field.barangay {
  width: 33%;
}
.form-field.city {
  width: 33%;
}
.form-field.province {
  width: 33%;
}

.form-field.email {
  width: 100%;
}

.form-field label {
  width: 100%;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
}

.form-field input,
select {
  border: none;
  background-color: #f0f0f0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: 15px;
  text-indent: 20px;
  /* box-shadow: rgb(168, 181, 195) 3px 3px 6px 0px inset, rgba(221, 221, 221, 0.875) -3px -3px 6px 1px inset; */
}
.form-field input:focus {
  outline: #ff592f66;
}

/* Desktop screens */
@media only screen and (min-width: 1200px) {
  /* Styles for desktop screens go here */
}

/* Tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Styles for tablet screens go here */
  .form-field {
    width: 100% !important;
  }
}

/* Phone screens */
@media only screen and (max-width: 767px) {
  .form-field {
    width: 100% !important;
  }
}
