.report-container {
  padding: 2%;
  padding-bottom: 200px;
}

.btn-cont {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}
.btn-cont div:nth-child(1) {
  width: 150px;
  font-weight: bolder;
}
.btn-cont div:nth-child(2) {
  min-width: 200px;
  font-weight: bolder;
  border-bottom: 1px solid;
}
.btn-cont div:nth-child(1) {
  width: auto;
  font-weight: bolder;
}

tr td {
  border: 0;
}

.main-title td {
  text-align: center;
}

.prog-flow {
  padding: 50px !important;
  width: 210mm;
  height: 297mm;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 12px;
  margin-bottom: 50px;
}
.prog-flow td {
  font-size: 12px;
}

table {
  position: relative;
  font-size: 12px;
}

body {
  position: relative;
  padding: 250px 70px 50px 70px;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table-wrapper {
  /* min-width: 50%;
  max-width: 70%;
  aspect-ratio: 16/9; */
}

table .img-container {
  width: 100%;
  /* height: 200px; */
  position: absolute;
  top: 0;
  left: 0;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .prog-flow {
    width: 210mm; /* Set to A4 size */
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .prog-flow {
    width: 100%; /* Set to full width */
    max-width: 100%;
    margin: 0;
  }
}

/* tr {
  position: relative;
  margin: 0px 50px;
} */
