*:not(.fa-solid):not(.fa-regular) {
  font-family: 'Assistant', sans-serif;
  /* color: #51354b; */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.report-container {
  padding: 2%;
  padding-bottom: 200px;
}

.terminal {
  position: relative;
}

.btn-cont {
  width: auto;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* justify-content: space-around; */
}
.btn-cont div:nth-child(1) {
  display: flex;
  align-items: center;
  width: auto;
  font-weight: bolder;
  padding: 10px 10px;
}
.btn-cont div:nth-child(2) {
  width: 200px;
  height: 40px;
  font-weight: bolder;
  border: 1px solid #ff5a2f;
  border-radius: 5px 0px 0px 5px;
  background-color: white;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: red; */
}
.btn-cont div:nth-child(3) {
  width: auto;
  height: 40px;
  font-weight: bolder;
}

.btn-cont button {
  height: 40px;
  border: 1px solid #ff5a2f;
  border-radius: 0px 5px 5px 0px;
  color: white;
  background-color: #ff5a2f;
  padding: 5px 10px;
}

tr td {
  border: 0;
}

.main-title td {
  text-align: center;
}

.prog-flow {
  padding: 50px !important;
  width: 210mm;
  height: 297mm;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 12px;
  margin-bottom: 50px;
}
.prog-flow td {
  font-size: 12px;
}

table {
  position: relative;
  font-size: 12px;
}

body {
  position: relative;
  padding: 250px 70px 50px 70px;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table-wrapper {
  /* min-width: 50%;
  max-width: 70%;
  aspect-ratio: 16/9; */
}

table .img-container {
  width: 100%;
  /* height: 200px; */
  position: absolute;
  top: 0;
  left: 0;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  font-size: 10px;
}

.dl-cont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.downloadbtn {
  width: 200px;
  background-color: #ff5a2f;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-align: center;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  height: 40px;
}

.downloadbtn i {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
}

.downloadbtn button {
  border: none;
  color: #fff;
  background-color: #ffffff00;
}

.topic-p input {
  border: none;
  border-bottom: 0.5px solid;
}

.dlpartnerbtn {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
/*












 */
::ng-deep .mat-header-cell {
  font-weight: 700 !important;
  color: #a8a5b6;
  font-size: 15px;
  margin-left: 10px;
}

::ng-deep .mat-sort-header-content {
  font-weight: 700 !important;
  color: #a8a5b6;
  font-size: 15px;
}

::ng-deep .mat-cell {
  color: #51354b;
  font-size: 15px !important;
}

.mat-row:nth-child(even) {
  background-color: #8a8a8b1a;
}

.mat-cell {
  padding: 16px 16px; /* Adjust padding as needed */
}

.paginator-wrapper {
  margin-top: auto;
}

::ng-deep .cdk-column-company_name {
  white-space: nowrap;
}

::ng-deep .cdk-column-contract_dates {
  white-space: nowrap;
  padding-left: 20px;
}

::ng-deep .cdk-column-contact_no {
  white-space: nowrap;
}

::ng-deep .mat-sort-header-arrow {
  color: #ff5a2f !important;
  /* background-color: #ff5a2f !important; */
}

.mat-table {
  width: 100%;
}
