<div class="add-partner">
  <div mat-dialog-content class="view-partner">
    <form [formGroup]="partnerForm">
      <label *ngIf="!data" for="" class="company-name">Create Partner</label>
      <label *ngIf="data" for="" class="company-name">Update Partner</label>
      <hr />

      <!-- company name field  -->
      <div class="form-field">
        <label for="">Partner Name</label>
        <input type="text" formControlName="company_name" />
        &nbsp;
        <mat-error *ngIf="partnerForm.get('company_name')?.invalid && (partnerForm.get('company_name')?.touched || submitted)">
          company name is required.
        </mat-error>
      </div>

      <div class="address-wrapper">
        <!-- barangay field  -->
        <div class="form-field">
          <label for="">Barangay</label>
          <input type="text" formControlName="address_barangay" />
          &nbsp;

          <mat-error *ngIf="partnerForm.get('address_barangay')?.invalid && (partnerForm.get('address_barangay')?.touched || submitted)">
            barangay is required.
          </mat-error>
        </div>

        <!-- city field  -->
        <div class="form-field">
          <label for="">City/Municipality</label>
          <input type="text" formControlName="address_city" />
          &nbsp;

          <mat-error *ngIf="partnerForm.get('address_city')?.invalid && (partnerForm.get('address_city')?.touched || submitted)">
            city is required.
          </mat-error>
        </div>

        <!-- province field  -->
        <div class="form-field">
          <label for="">Province</label>
          <input type="text" formControlName="address_province" />
          &nbsp;

          <mat-error *ngIf="partnerForm.get('address_province')?.invalid && (partnerForm.get('address_province')?.touched || submitted)">
            province is required.
          </mat-error>
        </div>
      </div>

      <div class="contact-wrapper">
        <!-- contact person field  -->
        <div class="form-field">
          <label for="">Contact Person</label>
          <input type="text" formControlName="contact_person" />
          &nbsp;
          <mat-error *ngIf="partnerForm.get('contact_person')?.invalid && (partnerForm.get('contact_person')?.touched || submitted)">
            contact person is required.
          </mat-error>
        </div>

        <div class="form-field">
          <label for="">Contact Number</label>
          <input type="text" formControlName="contact_no" />
          &nbsp;
          <mat-error *ngIf="partnerForm.get('contact_no')?.invalid && (partnerForm.get('contact_no')?.touched || submitted)">
            contact number is required.
          </mat-error>
        </div>
      </div>

      <div class="date-wrapper">
        <div class="form-field">
          <label for="">Start Date</label>
          <input type="date" formControlName="start_date" />
          &nbsp;
          <mat-error *ngIf="partnerForm.get('start_date')?.invalid && (partnerForm.get('start_date')?.touched || submitted)">
            start date is required.
          </mat-error>
        </div>
        <div class="form-field">
          <label for="">End Date</label>
          <input type="date" formControlName="end_date" />
          &nbsp;
          <mat-error *ngIf="partnerForm.get('end_date')?.invalid && (partnerForm.get('end_date')?.touched || submitted)">
            end date is required.
          </mat-error>
        </div>
      </div>
      <div class="upload-wrapper">
        <div class="moa">
          <div class="moa-label">MOA File</div>
          <label for="moa-upload" *ngIf="!moaFile && !edithMoa" class="moa-upload">
            <span><i class="fa-solid fa-arrow-up-from-bracket"></i>Upload MOA</span>
          </label>
          <input type="file" id="moa-upload" formControlName="moa_file" (change)="onMoaFileSelected($event, 'moa_file')" style="display: none" />
          <div class="file-info" *ngIf="moaFile || edithMoa">
            <div class="file-icon">
              <mat-icon id="moaIcon"></mat-icon>
            </div>
            <div>
              <div #moaFileName></div>
              <div #moaFileSize></div>
            </div>
            <div>
              <button class="x-upload" mat-icon-button color="warn" (click)="removeMoa()">
                <mat-icon><i class="fa-solid fa-circle-xmark"></i></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="moa-error" *ngIf="(partnerForm.get('moa_file')?.invalid && partnerForm.get('moa_file')?.dirty) || (!moaFile && submitted)">
        <mat-error *ngIf="!moaFile && submitted"> MOA is required. </mat-error>
        <mat-error *ngIf="partnerForm.get('moa_file')?.errors?.['invalidExtension']"> Invalid file type. Allowed extensions: pdf and docx </mat-error>
        <mat-error *ngIf="partnerForm.get('moa_file')?.errors?.['max']"> File size too large. Maximum file size: 5048 KB </mat-error>
      </div>
      <div class="dl-wrapper">
        <div class="dl-inv" *ngIf="edithMoa && !moaFile">
          <button matRipple (click)="downloadMoa()">Download</button>
        </div>
      </div>
    </form>
  </div>

  <mat-dialog-actions>
    <div class="footer">
      <button (click)="closeDialog()">Cancel</button>
      <button class="submit" type="submit" (click)="onSubmit()">Submit</button>
    </div>
  </mat-dialog-actions>
</div>
