*:not(.fa-solid):not(.fa-regular):not(.mat-error) {
  font-family: 'Assistant', sans-serif;
  color: #51354b;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.add-partner {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.add-partner label {
  font-weight: bolder;
  font-size: 30px;
  line-height: 40px;
}

.form-field {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-field label {
  width: 100%;
  font-size: 15px;
  font-weight: 700;
}

.form-field input {
  border: none;
  background-color: #f0f0f0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: 15px;
  text-indent: 20px;
  outline: #ff5a2f;
}

.form-field input:focus {
  outline: #ff5a2f;
}

input[type='date'] {
  padding-right: 20px;
}

.upload-wrapper {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.upload-wrapper .moa-label {
  font-size: 15px;
  font-weight: 700;
}
.moa {
  width: 100%;
  padding: 5px;
  height: 60px;
}

.moa-error {
  width: 100%;
  display: flex;
  justify-content: center;
}

.moa-error .mat-error {
  width: 60%;
  padding: 10px;
  color: #ed5555;
}

.moa-upload {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  border: 2px solid #ff5a2f;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.moa-upload span {
  color: #ff5a2f;
  font-size: 15px;
}

.moa-upload span i {
  margin-right: 20px;
}
.file-info {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #ff5a2f;
  border-radius: 5px;
}
.file-info .file-icon {
  position: relative;
  width: 25%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-info div:nth-child(2) {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  padding-right: 10px;
}
.file-info div:nth-child(3) {
  width: 25%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-info .file-icon .mat-icon {
  background-color: #ffffff80;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.file-info div:first-child .mat-icon i {
  color: #ff5a2f;
}

.file-info div:nth-child(2) div:first-child {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap; /* Prevents text from wrapping */
  text-overflow: ellipsis;
  overflow: hidden; /* Hides overflow */
}

.file-info div:nth-child(2) div:nth-child(2) {
  width: 100%;
  font-size: 12px;
}

.x-upload i {
  color: #ff5a2f;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-top: 10px;
}

.footer button:first-child {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 10px;
  color: #51354b;
  width: 30%;
  max-width: 200px;
}

.footer button:nth-child(2) {
  background-color: #ff5a2f;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 10px;
  color: #ffffff;
  width: 30%;
  max-width: 200px;
}

.view-partner {
  padding-bottom: 100px;
}

.submit.disabled-button {
  background-color: rgb(130, 130, 130);
  color: gray;
  cursor: not-allowed;
}

.dl-inv {
  margin-top: 20px;
  width: 60%;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dl-inv button {
  border: 1px solid #ff5a2f;
  background-color: #ff5a2f;
  border-radius: 5px;
  color: white !important;
  width: 100%;
}

.dl-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Desktop screens */
@media only screen and (min-width: 1200px) {
  /* Styles for desktop screens go here */
  .address-wrapper,
  .contact-wrapper,
  .date-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .address-wrapper .form-field {
    width: 33%;
  }
  .contact-wrapper .form-field {
    width: 50%;
  }
  .date-wrapper .form-field {
    width: 50%;
  }

  .moa {
    width: 60%;
  }

  .moa-error .mat-error {
    width: 60%;
  }
}

/* Tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Styles for tablet screens go here */
  .address-wrapper,
  .contact-wrapper,
  .date-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .address-wrapper .form-field {
    width: 33%;
  }
  .contact-wrapper .form-field {
    width: 50%;
  }
  .date-wrapper .form-field {
    width: 50%;
  }
  .moa {
    width: 80%;
  }

  .moa-error .mat-error {
    width: 80%;
  }

  .dl-inv {
    width: 80%;
  }
}

/* Phone screens */
@media only screen and (max-width: 767px) {
  /* Styles for phone screens go here */
  .dl-inv {
    width: 90%;
  }
}
