<div class="container">
  <div class="main-content">
    <div class="line"></div>
    <h1>Reset Password</h1>
    <div class="content">
      <!-- Reset Password Form -->
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <!-- Password -->
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" formControlName="password" class="form-control" id="password">
          <div *ngIf="resetForm?.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)">
            <small class="form-text text-danger" *ngIf="resetForm.get('password')?.errors?.['required']">
              Password is required
            </small>
            <small class="form-text text-danger" *ngIf="resetForm.get('password')?.errors?.['minlength']">
              Password must be at least 6 characters
            </small>
          </div>
        </div>
        <!-- Confirm Password -->
        <div class="form-group">
          <label for="confirmPassword">Confirm New Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword">
          <div *ngIf="resetForm.get('confirmPassword')?.invalid && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)">
            <small class="form-text text-danger" *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">
              Confirm Password is required
            </small>
            <small class="form-text text-danger" *ngIf="resetForm.get('confirmPassword')?.errors?.['mustMatch']">
              Passwords must match
            </small>
          </div>
        </div>
        <!-- Submit Button -->
        <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
      </form>
    </div>
  </div>
</div>
