*:not(.fa-solid):not(.fa-regular) {
  font-family: 'Assistant', sans-serif;
  /* color: #51354b; */
}

.partner-management {
  /* position: relative; */
  margin: 0;
  padding: 2% 20px;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
}

table {
  width: 100%;
}

/* .mat-header-cell,
.mat-cell {
  padding: 8px;
  color: #a8a5b6;
  font-weight: 400;
} */
.mat-row.mat-row-selected {
  background-color: #e0e0e0;
}

.mat-checkbox-inner-container {
  background-color: #f1f1f1;
}

.mat-checkbox {
  margin: 0 8px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

/* td, th {
  width: 25%;
} */

::ng-deep .mat-header-cell {
  font-weight: 700 !important;
  color: #a8a5b6;
  font-size: 15px;
}

::ng-deep .mat-sort-header-content {
  font-weight: 700 !important;
  color: #a8a5b6;
  font-size: 15px;
}

::ng-deep .mat-cell {
  color: #51354b;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

/* td, th {
  width: 25%;
} */

.link-button {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

/* .mat-column-select {
  max-width: 25px;
} */

.mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.tablewrapper {
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow-y: auto;
}

/* .mat-paginator-container {
  position: absolute;
  bottom: 0;
  width: 100%;
} */

.paginator-wrapper {
  margin-top: auto;
}

.search {
  position: relative;
}

.search input {
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  min-width: 200px;
  max-width: 300px;
  width: auto;
  height: 40px;
  text-indent: 40px;
}

.search input::placeholder {
  color: #a8a5b6;
}

.search span {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 20px;
  color: #a8a5b6;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.filter button {
  background-color: #ff5a2f;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  min-width: 100px;
  color: #ffffff;
  outline: none;
  border: none;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}
.mat-row:nth-child(even) {
  background-color: #8a8a8b1a;
}

.view-button {
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 12px;
  color: #ff5a2f;
  padding: 5px 20px;
  background-color: #ff592f3c;
}

::ng-deep .mat-sort-header-arrow {
  color: #ff5a2f !important;
  /* background-color: #ff5a2f !important; */
}

/* Desktop screens */
@media only screen and (min-width: 1200px) {
  /* Styles for desktop screens go here */
}

/* Tablet screens */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Styles for tablet screens go here */
}

/* Phone screens */
@media only screen and (max-width: 767px) {
  ::ng-deep .mat-paginator-page-size {
    display: none !important;
  }
}
