<div class="partner-management">
  <div class="filter">
    <div class="search">
      <span><i class="fa-solid fa-magnifying-glass"></i></span><input (keyup)="applyFilter($event)" placeholder="Search" #input />
    </div>
    <button (click)="createAccount()">Add Partner</button>
  </div>
  <div class="tablewrapper">
    <table mat-table [dataSource]="dataSource" matSort #sort="matSort" class="mat-elevation-z8">
      <!-- Company Name Column -->
      <ng-container matColumnDef="company_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>COMPANY NAME</th>
        <td mat-cell *matCellDef="let dataSource">{{ dataSource.company_name }}</td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ADDRESS</th>
        <td mat-cell *matCellDef="let dataSource">{{ dataSource.address }}</td>
      </ng-container>

      <!-- Contact Number Column -->
      <ng-container matColumnDef="contact_no">
        <th mat-header-cell *matHeaderCellDef>CONTACT NUMBER</th>
        <td mat-cell *matCellDef="let dataSource">{{ dataSource.contact_no }}</td>
      </ng-container>

      <!-- Contract Dates Column -->
      <ng-container matColumnDef="contract_dates">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CONTRACT DATES</th>
        <td mat-cell *matCellDef="let dataSource">
          {{ formatDate(dataSource.contracts.start_date) }} -
          {{ formatDate(dataSource.contracts.end_date) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="text-center">ACTION</th>
        <td mat-cell *matCellDef="let dataSource" class="text-center">
          <button matRipple class="view-button" (click)="viewPartner(dataSource.partner_id); $event.stopPropagation()">VIEW</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>
    </table>
  </div>
  <div class="paginator-wrapper">
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
